.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.heading {
  font-size: var(--text-xl);
  color: var(--gray-700);
  font-weight: 700;
}

.ul {
  display: flex;
  align-items: center;
}

.li {
  padding: 1rem;
}

.a {
  color: var(--primary);
}
